*.jpg
!Telescope_Simulator/**/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


224/


logs_classification/**/logs
logs_classification/**/models
logs_classification/**/*.png
logs_recognition/**/logs
logs_recognition/**/models
logs_recognition/**/*.png


tele_datasets/*
circle/
yolov7/
datasets/
inference/
.DB_Store


plots/cmap_test
plots/papershow/*.png
plots/images/*.png
stars/*.png
plots/conv_show/*.png

**/*index_*.csv
spare/images/*.png

logs_yolo/*/label_plot.p*
logs_yolo/*/runs/detect/*
logs_yolo/*/runs/evolve/*
logs_yolo/*/runs/train/results_*/*
!logs_yolo/*/runs/train/results_*/results.csv
!logs_yolo/*/runs/train/results_*/*.npy
!logs_yolo/results.csv